@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141417;
  --foreground: #2b2b2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141417;
    --foreground: #2b2b2e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
